@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
body{
    background-color: #04001e;
    color: white;
    margin: auto;
    font-family: 'Poppins', sans-serif;
}
.nav{
    font-size: 30px;
    color: white;
    font-family: 'Poppins', sans-serif;
}
#task-list {
    list-style-type: none;
  }
  
  .task {
    border: thin solid white;
    display: flex;
    margin: 10px;
    padding: 10px;
    width: 300px;
  }
  
  .task span {
    flex-grow: 1;
  }
  #status-content{
    color: white;
    text-align: center;
    margin: auto;
    font-family: 'Poppins', sans-serif;
  }

