* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}

.navbar .fa{
    margin-right: 8px;
}

.title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
/*Shrink menu bar for small screen*/
@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}
/*My profile sub menu*/
.profile-sub-menu{
    display: none;
}

.navbar-links ul li:hover .profile-sub-menu{
    display: block;
    position: relative;
    background-color:#555;
    margin-top: 15px;
   /* margin-left: -15px ;*/
}

.navbar-links ul li:hover .profile-sub-menu ul{
    display: block;
    margin: 10px;
}

.navbar-links ul li:hover .profile-sub-menu ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.navbar-links ul li:hover .profile-sub-menu ul li:last-child{
    border-bottom: none;
}

.navbar-links ul li:hover .profile-sub-menu ul li a:hover{
    color: rgb(19, 240, 11);
}

/*.status-update{
   
}*/