@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
  font-family: 'Roboto'
}

.centered-form {
  margin-top: 80px;
}

.form-container > .row {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.content{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.choices{
    padding-bottom: 50px;
}